<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock title %} </title>
    </head>
    <body>
        <header>
        <h1>Reddit Clone</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'reddit_app:index' %}">Home</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            <!-- Main content inserted here -->
            {% endblock content %}
        </main>
    </body>
</html>