{% extends "base.html" %}

{% block title %} Reddit {% endblock title %}

{% block content %}

<div>
<p>Welcome {{ user }} - <a href="{% url 'user_app:logout' %}">Log out</a> - <a href="{% url 'user_app:delete_account' %}">Delete Account</a></p>
      {% for post in posts  %}
        <li>
            <form action="{% url 'reddit_app:change_status' %}" method="POST">
                {% csrf_token %}
                <h1>{{ post.title }}</h1>
                <p>{{ post.text }}</p>
                <h4>Created by: {{ post.creator }} at {{ post.created_post_date }}</h4>
                <input type="text" name="title_update" placeholder="Update title">
                <input type="text" name="text_update" placeholder="Update text">
                <button>Update</button>
                <button formaction="{% url 'reddit_app:delete_post' %}">Delete post</button>
                <input type="hidden" name="pk" value="{{ post.pk }}">
                <hr />
            </form>
        </li>
      {% endfor  %}
</div>

<div>
<form action="." method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Insert your post title">
        <input type="text" name="text" placeholder="Insert your post desc">
        <button>Create a post</button>
    </form>
  </div>
{% endblock content %}